@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/dmsans.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/nunito.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



:root {
  --spacing-3xs: 4px;
  --spacing-2xs: 8px;
  --spacing-xs: 16px;
  --spacing-s: 24px;
  --spacing-m: 32px;
  --spacing-l: 40px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 80px;
  --spacing-4xl: 96px;

  --radius-none: 0;
  --radius-2xs: 12px;
  --radius-xs: 24px;
  --radius-s: 36px;
  --radius-m: 48px;
  --radius-l: 60px;
  --radius-xl: 72px;
  --radius-2xl: 96px;
  --radius-3xl: 120px;
  --radius-full: 999px;

  --stroke-s: 0px;
  --stroke-m: 1px;
  --stroke-l: 2px;
  --stroke-xl: 3px;
  --stroke-2xl: 4px;
  --stroke-3xl: 5px;
  --stroke-4xl: 6px;
  --stroke-5xl: 8px;
  --stroke-6xl: 10px;
  --stroke-7xl: 12px;

  --shadow-e0: 0px 0px 0px 0px #1B1C1D00;
  --shadow-e1: 0px 2px 4px 0px #1B1C1D0A;
  --shadow-e2: 0px 16px 32px -12px #585C5F1A;
  --shadow-e3: 0px 16px 40px -8px #585C5F29;
  --shadow-e4: 0px 16px 40px 0px #585C5F29;
  --shadow-e5: 0px 2px 4px 0px #1B1C1D0A inset;
  --shadow-e6: 0px 16px 32px -12px #585C5F1A inset;
  --shadow-e7: 0px 25px 36.5px -7px #585C5F29 inset;
  --shadow-e8: 0px 32px 33.2px -7px #585C5F29 inset;
  --shadow-e9: 0px 4px 20px -5px #0092FF1F;

  --neutral-100: #ffffff;
  --neutral-200: #e8e8e8;
  --neutral-300: #d2d2d2;
  --neutral-400: #bbbbbb;
  --neutral-800: #606060;
  --neutral-1000: #333333;

  --success-200: #B5E5CF;
  --success-600: #206143;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}



body {
  font-family: 'DM Sans', sans-serif;
}

.heading-1 {
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0;
}

.heading-2 {
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0;
}

.heading-3 {
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0;
}

.heading-4 {
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0;
}

.heading-5 {
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0;
}

.heading-6 {
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
}

.body-1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.body-2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.body-3 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
}

.body-4 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0;
}